*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--color-0: #ffffff;
	--color-1: #eeeeee;
	--color-2: #bdbdbd;
	--color-3: #000000;
	--red-0:   #d90000;
	--blue-0:  #0000ff;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--color-0: #000000;
		--color-1: #333333;
		--color-2: #777777;
		--color-3: #ffffff;
		--blue-0:  #56c8ff;
	}
}

/* exception */

body {
	font-family: sans-serif;
	line-height: 1.6;
	max-width: 80ch;
	margin-inline: auto;
}

h1 {
	font-size: xxx-large;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

h4 {
	font-size: large;
}

h5 {
	font-size: medium;
}

h6 {
	font-size: small;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a[data-style=logo] {
	font-family: monospace;
	font-size: 1.5em;
}

pre > code {
	white-space: pre;
}

code {
	overflow: auto;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

ol ol,
ol ul,
ul ul,
ul ol,
details p,
details details {
	margin-inline: 2rem;
}

label,
table td,
table tr,
pre > code {
	display: block;
}

button,
input[type=reset],
input[type=submit],
input[type=button] {
	font-weight: bold;
}

fieldset > legend {
	padding-inline: 1rem;
}

label > p {
	margin-left: 1rem;
}

code,
input[type=checkbox] {
	border-radius: .2rem;
}

fieldset,
table tr,
textarea,
pre > code,
input[type=radio] {
	border-radius: 1rem;
}

button,
select,
summary,
input[type=tel],
input[type=date],
input[type=text],
input[type=email],
input[type=reset],
input[type=number],
input[type=submit],
input[type=button],
input[type=search],
input[type=password] {
	border-radius: 2rem;
}

input,
select,
button,
summary,
textarea {
	transition: all .2s ease-in-out;
}

table,
select,
textarea,
input[type=tel],
input[type=date],
input[type=text],
input[type=email],
input[type=search],
input[type=number],
input[type=password] {
	width: 100%;
}

input:required {
	border-style: double;
}

input:disabled {
	border-style: dashed;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

table thead {
	height: 0;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
}

table td {
	text-align: right;
}

table td::before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
}

table tr + tr,
.stack > * + * {
	margin-block-start: 1rem;
}

input,
select,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}

input[type=radio],
input[type=checkbox] {
	height: 1rem;
	width: 1rem;
	padding: .1rem;
	appearance: none;
	-webkit-appearance: none;
}

code {
	padding: .1rem .3rem;
}

input,
select,
button,
summary,
textarea,
table th,
table td,
pre > code {
	padding: .5rem 1rem;
}

body,
fieldset {
	padding: 1rem;
}

button,
summary,
input[type=radio],
input[type=reset],
input[type=submit],
input[type=button],
input[type=checkbox] {
	cursor: pointer;
	user-select: none;
}

/* focus/hover exception */

a:hover,
a:focus {
	text-decoration: underline;
}

input:focus,
input:hover,
select:focus,
select:hover,
button:focus,
button:hover,
summary:focus,
summary:hover,
textarea:focus,
textarea:hover {
	border-color: var(--color-2);
}

/* color */

body,
select,
textarea,
input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
button[data-style=secondary],
input[type=submit][data-style=secondary],
input[type=button][data-style=secondary],
input[type=reset][data-style=secondary] {
	color: var(--color-3);
	background-color: var(--color-0);
}

::selection {
	color: var(--color-0);
	background-color: var(--color-3);
}

a,
a:link,
a:visited {
	color: var(--blue-0);
}

a[data-style=logo] {
	color: var(--red-0);
}

code,
button,
input[type=submit],
input[type=button] {
	color: inherit;
	background-color: var(--color-1);
}

input,
select,
button,
article,
summary,
textarea,
fieldset,
table tr,
input[type=radio]:checked,
input[type=checkbox]:checked {
	border: .175rem solid var(--color-1);
}

input[type=radio]:checked,
input[type=checkbox]:checked {
	background-color: var(--color-3);
}

/* layout */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(32ch, 100%), 1fr));
	align-content: start;
}

.cluster {
	justify-content: flex-start;
	align-items: flex-start;
}

.cluster[data-justify=space-between] {
	justify-content: space-between;
}

.cluster[data-justify=center] {
	justify-content: center;
}

.cluster[data-align=center] {
	align-items: center;
}

.cover {
	min-block-size: 100vh;
}

.cover > :first-child:not(main) {
	margin-block-start: 0;
}

.cover > :last-child:not(main) {
	margin-block-end: 0;
}

.cover > main {
	flex: 1;
}

.cover > * {
	margin-block: 1rem;
}

.with-sidebar > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 60%;
}

.with-sidebar > :last-child {
	flex-basis: 10rem;
	flex-grow: 1;
}

.cluster,
.with-sidebar {
	flex-wrap: wrap;
}

.cover,
.stack,
.cluster,
.with-sidebar {
	display: flex;
}

.cover,
.stack {
	flex-direction: column;
}

.grid,
.cluster,
.with-sidebar {
	gap: 1rem;
}

/* helper */

.text-align\:center {
	text-align: center;
}

/* adjustment */

@media screen and (min-width: 40em) {
	table thead {
		height: auto;
		position: initial;
		visibility: initial;
	}

	table th,
	table td {
		display: table-cell;
		border-bottom: .175rem solid var(--color-1);
		padding: 1rem;
	}

	table tr {
		margin-block-start: 0;
		box-shadow: none;
		display: table-row;
	}

	table td::before {
		content: "";
	}

	table tr,
	table td {
		text-align: left;
	}
}
