*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #f0f6f0;
	--secondary-color: #222323;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--primary-color: #222323;
		--secondary-color: #f0f6f0;
	}
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
		Arial, sans-serif;
	line-height: 1.6;
	max-width: 92ch;
	margin-inline: auto;
}

h1 {
	font-size: xxx-large;
}

h2 {
	font-size: xx-large;
}

h3 {
	font-size: x-large;
}

h4 {
	font-size: large;
}

h5 {
	font-size: medium;
}

h6 {
	font-size: small;
}

a,
a:link,
a:visited {
	color: inherit;
}

pre > code {
	white-space: pre;
}

code {
	overflow: auto;
}

ul {
	list-style: square inside;
}

ol {
	list-style: decimal inside;
}

ol ol,
ol ul,
ul ul,
ul ol,
details p,
details details {
	margin-inline: 2rem;
}

label,
table td,
table tr,
pre > code {
	display: block;
}

input,
select,
button,
article,
summary,
textarea,
fieldset,
table tr,
input[type=radio]:checked,
input[type=checkbox]:checked {
	border: .1rem solid var(--secondary-color);
}

input,
select,
button,
summary,
textarea {
	transition: ease-out .1s;
}

input:focus,
input:hover,
select:focus,
select:hover,
button:focus,
button:hover,
summary:focus,
summary:hover,
textarea:focus,
textarea:hover {
	box-shadow: .1rem .1rem 0 var(--secondary-color);
}

body,
input,
select,
button,
textarea {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

table,
select,
textarea,
input[type=tel],
input[type=date],
input[type=text],
input[type=email],
input[type=search],
input[type=number],
input[type=password] {
	width: 100%;
}

input:required {
	border-style: double;
}

input:disabled {
	border-style: dashed;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table thead {
	height: 0;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
}

table td {
	text-align: right;
}

table td::before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
}

table tr + tr,
.stack > * + * {
	margin-block-start: 1rem;
}

input,
select,
button,
textarea {
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	appearance: none;
}

input[type=radio] {
	border-radius: 50%;
}

input[type=radio],
input[type=checkbox] {
	height: 1rem;
	width: 1rem;
	padding: .1rem;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
	background-color: var(--secondary-color);
}

code,
input,
select,
button,
summary,
textarea,
table th,
table td {
	padding: .5rem 1rem;
}

body,
fieldset {
	padding: 1rem;
}

code,
button,
::selection,
input[type=reset],
input[type=submit],
input[type=button] {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

button[data-style=secondary],
input[type=reset][data-style=secondary],
input[type=submit][data-style=secondary],
input[type=button][data-style=secondary] {
	background-color: transparent;
	color: var(--secondary-color);
}

button,
summary,
input[type=radio],
input[type=reset],
input[type=submit],
input[type=button],
input[type=checkbox] {
	cursor: pointer;
	user-select: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(32ch, 100%), 1fr));
	align-content: start;
}

.cluster {
	justify-content: flex-start;
	align-items: flex-start;
}

.cluster[data-justify=space-between] {
	justify-content: space-between;
}

.cluster[data-justify=center] {
	justify-content: center;
}

.cluster[data-align=center] {
	align-items: center;
}

.cover {
	min-block-size: 100vh;
}

.cover > :first-child:not(main) {
	margin-block-start: 0;
}

.cover > :last-child:not(main) {
	margin-block-end: 0;
}

.cover > main {
	flex: 1;
}

.cover > * {
	margin-block: 1rem;
}

.with-sidebar > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 60%;
}

.with-sidebar > :last-child {
	flex-basis: 10rem;
	flex-grow: 1;
}

.cluster,
.with-sidebar {
	flex-wrap: wrap;
}

.cover,
.stack,
.cluster,
.with-sidebar {
	display: flex;
}

.cover,
.stack {
	flex-direction: column;
}

.grid,
.cluster,
.with-sidebar {
	gap: 1rem;
}

.text-align\:center {
	text-align: center;
}

@media screen and (min-width: 40em) {
	table thead {
		height: auto;
		position: initial;
		visibility: initial;
	}

	table td {
		display: table-cell;
	}

	table tr {
		margin-block-start: 0;
		box-shadow: none;
		display: table-row;
	}

	table td::before {
		content: "";
	}

	table tr,
	table td {
		text-align: left;
	}
}
