*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-color: white;
	--secondary-color: black;
	--accent-color: red;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--primary-color: black;
		--secondary-color: white;
	}
}

body {
	font-family: sans-serif;
	line-height: 1.6;
	max-width: 92ch;
	margin-inline: auto;
}

::-moz-selection {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

::selection {
	background-color: var(--accent-color);
	color: var(--secondary-color);
}

a,
a:visited {
	color: var(--secondary-color);
}

a:focus,
a:hover {
	text-decoration-color: var(--accent-color);
}

pre > code {
	display: block;
	white-space: pre;
}

code {
	overflow: auto;;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

ol ol,
ol ul,
ul ul,
ul ol,
details p,
details details {
	margin-inline: 2rem;
}

label,
table td,
table tr {
	display: block;
}

code,
article,
fieldset,
table tr {
	box-shadow: .2rem .2rem var(--accent-color);
}

input,
select,
button,
article,
summary,
textarea,
fieldset,
table tr,
a[data-type=button],
input[type=radio]:checked,
input[type=checkbox]:checked {
	border: .1rem solid var(--secondary-color);
}

body,
input,
select,
button,
textarea {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

table,
select,
textarea,
input[type=tel],
input[type=text],
input[type=email],
input[type=number],
input[type=password] {
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table thead {
	height: 0;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
}

table td {
	text-align: right;
}

table td::before {
	content: attr(data-label);
	float: left;
	font-weight: bold;
}

table tr + tr,
.stack > * + * {
	margin-block-start: 1rem;
}

input,
select,
button,
textarea,
a[data-type=button] {
	-webkit-appearance: none;
	border-radius: 0;
	font-family: inherit;
}

input[type=radio] {
	border-radius: 50%;
}

input[type=radio],
input[type=checkbox] {
	height: 1rem;
	width: 1rem;
	padding: .5rem;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
	background-color: var(--accent-color);
}

a[data-type=button] {
	text-decoration: none;
}

legend,
a[data-type=button] {
	line-height: normal;
}

code,
table,
input,
select,
button,
summary,
textarea,
table th,
table td,
a[data-type=button] {
	padding: .5rem 1rem;
}

body,
article,
fieldset {
	padding: 1rem;
}

table,
input,
button,
summary,
textarea,
a[data-type=button] {
	font-size: .85rem;
}

button,
input[type=reset],
input[type=submit],
input[type=button],
a[data-type=button] {
	text-transform: uppercase;
}

button,
summary,
input[type=reset],
input[type=submit],
input[type=button],
a[data-type=button] {
	cursor: pointer;
	user-select: none;
}

a:focus,
input:focus,
select:focus,
button:focus,
summary:focus,
textarea:focus {
	outline: none;
}

input:focus,
input:hover,
select:focus,
select:hover,
button:focus,
button:hover,
summary:focus,
summary:hover,
textarea:focus,
textarea:hover,
a[data-type=button]:focus,
a[data-type=button]:hover {
	border: .1rem solid var(--accent-color);
}

code,
button[data-style=secondary],
input[type=submit][data-style=secondary],
input[type=button][data-style=secondary],
a[data-type=button][data-style=secondary] {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(32ch, 100%), 1fr));
}

.cluster {
	justify-content: flex-start;
	align-items: flex-start;
}

.cluster[data-justify=space-between] {
	justify-content: space-between;
}

.cluster[data-justify=center] {
	justify-content: center;
}

.cluster[data-align=center] {
	align-items: center;
}

.cover {
	min-block-size: 100vh;
}

.cover > :first-child:not(main) {
	margin-block-start: 0;
}

.cover > :last-child:not(main) {
	margin-block-end: 0;
}

.cover > main {
	flex: 1;
}

.cover > * {
	margin-block: 1rem;
}

.with-sidebar > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 70%;
}

.with-sidebar > :last-child {
	flex-grow: 1;
}

.cluster,
.with-sidebar {
	flex-wrap: wrap;
}

.cover,
.stack,
.cluster,
.with-sidebar {
	display: flex;
}

.cover,
.stack {
	flex-direction: column;
}

.grid,
.cluster {
	gap: 1rem;
}

.logo {
	stroke: var(--accent-color);
	fill: var(--accent-color);
}

.text-align\:center {
	text-align: center;
}

@media screen and (min-width: 40em) {
	table {
		box-shadow: .2rem .2rem var(--accent-color);
	}

	table thead {
		height: auto;
		position: initial;
		visibility: initial;
	}

	table td {
		display: table-cell;
	}

	table tr {
		margin-block-start: 0;
		box-shadow: none;
		display: table-row;
	}

	table td::before {
		content: "";
	}

	table tr,
	table td {
		text-align: left;
	}
}
